*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

h1{
    font-size: 2.8rem;
}

p{
    font-size: 1.8rem;
}

.main-head{
    background: #131c27;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-head h1{
    color: white;
    text-align: center;
   
}

.sec-queue{
    background-image: url("./images/formBg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue-div{
    color: whitesmoke;
    background: linear-gradient(rgba(0,0,0,0.1),black);
    width: 50%;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

form{
    width: 60%;
}

.form-header{
    padding: 3rem;
}

.table-div{
    padding: 2rem;
}

.table-div label{
    margin-right: 2rem;
}
.table-div input{
    width: 70%;
    padding: 1rem;
}

.dish-div{
    padding: 2rem;
}

.dish-div label{
    margin-right: 2.5rem;
}

.dish-div input{
    width: 70%;
    padding: 1rem;
}

form button{
    width: 100%;
    border: none;
    padding: 2rem;
    background: #131c27;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}


form button:hover{
    background: black;
}


#display{
    min-height: 90vh;
    
}

.hero{
    min-height: 10vh;
    background: #131c27;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroh1{
   
}

.hero h1{
    color: white;
    padding: 2rem 0rem;

}
.herop{

}
.herop p{
    color: white;
    padding: 2rem 0rem;
    animation: textAnimation 20s infinite ease-out;
}

@keyframes textAnimation{
    from{
        transform: translate(-200%);
    }
    to{
        transform: translate(200%);
    }
}

.display-div{
    min-height: 70vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mealContainer{
    min-height: 50vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.dishContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dishDetail{
    display: flex;
    
    
}

.tableNum{
    margin-right: 2rem;
}

.dishName{
    
}

img{
    width: 100%;
}

.imageContainer{
    
}

.buttonContainer{
    position: absolute;
    bottom: 0px;
}

.button{
    border: none;
    color: whitesmoke;
    padding: 1rem;
    background: #131c27;
    width: 100%;

}
